{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block nav-icons %}
<li class="nav-item">
    <button class="btn btn-primary nav-icons" id="openModalBtn"><i class="fa-solid fa-plus"></i></button>
</li>
<li class="nav-item">
    <button class="btn btn-primary nav-icons" href="{% url 'notifications' %}"><i
            class="fa-regular fa-bell"></i></button>
</li>
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'issues' %}">Issues</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'projects' %}">Projects</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'reports' %}">Reports</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'profile' %}">Profile<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" id="openLogoutModalBtn">Logout</a>
</li>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center my-5">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Change Password</h2>
                </div>
                <!-- Alert Placeholder -->
                <div id="liveAlertPlaceholder"></div>
                <div class="card-body">
                    <form method="post" action="{% url 'change_password' %}" id="password-change-form">
                        {% csrf_token %}
                        {{ password_change_form|crispy }}
                        <div class="row mt-3">
                            <div class="col-12 col-sm-6 mb-2 mb-sm-0">
                                <button type="submit" class="btn btn-success w-100" id="save-password-btn"
                                    name="save_password" onclick="sessionStorage.setItem('Alert Type', 'Password Changed');">Save New Password</button>
                            </div>
                            <div class="col-12 col-sm-6">
                                <button type="button" class="btn btn-secondary w-100" onclick="window.history.back();">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- New Item Modal -->
<div class="modal-custom" id="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h5 class="modal-title mb-4">Would you like to create a new issue or new project?</h5>
        <div class="modal-buttons">
            <button id="createIssueBtn" class="btn btn-outline-primary">New Issue</button>
            <button id="createProjectBtn" class="btn btn-outline-success">New Project</button>
        </div>
    </div>
</div>

<!-- Logout Confirmation Modal -->
<div class="modal-custom" id="logoutConfirmModal">
    <div class="modal-content">
        <span class="close" id="closeLogoutModal">&times;</span>
        <h5 class="modal-title mb-4">Are you sure you want to log out?</h5>
        <div class="modal-buttons">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Yes, Log Out</button>
                <button type="button" class="btn btn-outline-secondary" id="cancelLogoutBtn">No, Cancel</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    const createIssueUrl = "{% url 'create_issue' %}";
    const createProjectUrl = "{% url 'create_project' %}";
</script>
<script src="{% static 'js/new_item_modal.js' %}"></script>
<script src="{% static 'js/confirm_logout_modal.js' %}"></script>
{% endblock %}
