<!-- Turn off autoescaping for the entire block to handle raw text safely -->
{% autoescape off %}
<!-- Email template code for password resetting -->
Hello {{ user.username }},

You're receiving this email because you requested a password reset for your user account at Hitch Hound.
Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

In case you've forgotten, this is your username: {{ user.username }}

Thanks for being a valued user!

The Hitch Hound team
{% endautoescape %}