{% extends 'base.html' %}
{% load static %}

{% block nav_icons %}
{% include 'nav_icons.html' %}
{% endblock %}

{% block content %}
{% include 'report_menu.html' %}
<h1>Issue Severity Summary</h1>
<p>This report shows a summary of all issues' severity by project. Select a project in the section below to show that
    project's chart.</p>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <!-- Form to filter Issues by Project -->
                    <form method="get" action="{% url 'issue_severity_summary' %}">
                        <div class="form-group">
                            <label for="projectFilter" class="fw-bold">Select Project:</label>
                            <div id="projectFilter" class="d-flex flex-wrap mt-2 justify-content-around">
                                <button type="submit" class="btn btn-secondary m-1" name="project" value="all"
                                    {% if 'all' in selected_projects %}class="active" {% endif %}>All Projects</button>
                                <!-- Loop through each project to create a button -->
                                {% for project in project_choices %}
                                <button type="submit" class="btn btn-secondary m-1" name="project"
                                    value="{{ project.id }}"
                                    {% if project.id|stringformat:"s" in selected_projects %}class="active"
                                    {% endif %}>{{ project.title }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Chart container for displaying the pie chart -->
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-6">
            <div class="chart-container">
                {% if not labels %}
                <p class="text-center">No issues found for this project.</p>
                {% else %}
                <canvas id="severityPieChart"></canvas>
                <h3 id="chartTitle" class="text-center mt-3">{{ selected_project_title }}</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include 'new_item_modal.html' %}
{% include 'logout_modal.html' %}

{% endblock %}

{% block extra_js %}
{% include 'base_extra_js.html' %}
<script src="{% static 'js/reports.js' %}"></script>

<!-- Include Chart.js library and plugin -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<!-- The script that creates and displays the pie chart -->
<script>
    // Gets the context of the canvas element where the chart will be displayed
    document.addEventListener("DOMContentLoaded", function () {
        const ctx = document.getElementById('severityPieChart').getContext('2d');
        // Assign the labels and data passed from the view 
        const labels = {
            {
                labels | safe
            }
        };
        const data = {
            {
                data | safe
            }
        };
        // Checks if there are any labels to display
        if (labels.length > 0) {
            // Creates a new Chart instance
            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: [
                            '#B5D1C8',
                            '#86B3A6',
                            '#508072',
                            '#7AA49C',
                            '#9FC4B7',
                            '#A8D0C1'
                        ],
                        borderColor: [
                            '#B5D1C8',
                            '#86B3A6',
                            '#508072',
                            '#7AA49C',
                            '#9FC4B7',
                            '#A8D0C1'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    // Constructs the label with the raw data value
                                    let label = context.label + ': ' + context.raw;
                                    return label;
                                },
                                title: function () {
                                    // Returns an empty array to omit the default title
                                    return '';
                                }
                            }
                        }
                    }
                }
            });
        }
    });
</script>

{% endblock %}