{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block nav_icons %}
{% include 'nav_icons.html' %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% include 'report_menu.html' %}
    <h2>Issues by Assignee</h2>
    <p>This report displays issues by assignees. Select your filters in the section below and they will be automatically
        applied to the table.</p>

    <div class="row mt-5">
        <div class="col-lg-6 col-md-8 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <!-- Form for selecting assignees -->
                    <form method="get" action="{% url 'issue_listing_by_assignee' %}">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label class="fw-bold" for="assignee">Select Assignee(s):</label>
                                    <div id="assignee" class="form-check mt-2">
                                        <!-- Loop through user choices to create checkboxes for assignees -->
                                        {% for user in user_choices %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="assignee"
                                                id="assignee-{{ user.username }}" value="{{ user.username }}"
                                                {% if user.username in selected_assignees %}checked{% endif %}
                                                onchange="this.form.submit()">
                                            <label class="form-check-label" for="assignee-{{ user.username }}">{{ user.username }}</label>
                                        </div>
                                        {% endfor %}
                                        <!-- Checkbox for including unassigned issues -->
                                        <div class="form-check mt-3">
                                            <input class="form-check-input" type="checkbox" name="include_unassigned"
                                                id="include_unassigned" {% if include_unassigned %}checked{% endif %}
                                                onchange="this.form.submit()">
                                            <label class="form-check-label" for="include_unassigned">View Unassigned
                                                Issues</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Table for displaying issues -->
    <div class="table-responsive mt-4">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">Issue ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Severity</th>
                    <th scope="col" class="d-none d-md-table-cell">Type</th>
                    <th scope="col" class="d-none d-md-table-cell">Project</th>
                    <th scope="col" class="d-none d-md-table-cell">Status</th>
                    <th scope="col" class="d-none d-md-table-cell">Assignee(s)</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through issues to create table rows -->
                {% for issue in issues %}
                <tr class="table-light" onclick="window.location.href='{% url 'issue_detail' issue.id %}'"
                    style="cursor: pointer;">
                    <td>#{{ issue.id }}</td>
                    <td>{{ issue.title|truncatechars:50 }}</td>
                    <td>{{ issue.get_severity_display }}</td>
                    <td class="d-none d-md-table-cell">{{ issue.get_type_display }}</td>
                    <td class="d-none d-md-table-cell">{{ issue.project.title }}</td>
                    <td class="d-none d-md-table-cell">{{ issue.get_status_display }}</td>
                    <td class="d-none d-md-table-cell">
                        <!-- Display assignees if any exist -->
                        {% if issue.developer %}
                        Developer: {{ issue.developer.username }}<br>
                        {% endif %}
                        {% if issue.product_manager %}
                        Product Manager: {{ issue.product_manager.username }}<br>
                        {% endif %}
                        {% if issue.quality_assurance %}
                        QA: {{ issue.quality_assurance.username }}<br>
                        {% endif %}
                        <!-- Display 'Unassigned' if there are no assignees -->
                        {% if not issue.developer and not issue.product_manager and not issue.quality_assurance %}
                        Unassigned
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <!-- Message displayed if there are no issues found for the selected filters -->
                    <td colspan="7" class="text-left">No issues found for this combination of filters.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'pagination.html' %}

{% include 'new_item_modal.html' %}
{% include 'logout_modal.html' %}

{% endblock %}

{% block extra_js %}
{% include 'base_extra_js.html' %}
<script src="{% static 'js/reports.js' %}"></script>
{% endblock %}
