{% extends 'base.html' %}
{% load static %}

{% block nav_icons %}
{% include 'nav_icons.html' %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>All Issues for: {{ project.title }}</h1>
    <!-- Responsive table displaying issues -->
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">
                        <!-- Sort by Issue ID -->
                        <a href="?sort_by=id&order={{ toggle_order }}" class="text-dark text-decoration-none">
                            Issue ID
                            <i
                                class="fa {% if sort_by == 'id' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <!-- Sort by Title -->
                        <a href="?sort_by=title&order={{ toggle_order }}" class="text-dark text-decoration-none">
                            Title
                            <i
                                class="fa {% if sort_by == 'title' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <!-- Sort by Severity -->
                        <a href="?sort_by=severity&order={{ toggle_order }}" class="text-dark text-decoration-none">
                            Severity
                            <i
                                class="fa {% if sort_by == 'severity' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                        </a>
                    </th>
                    <th scope="col" class="d-none d-md-table-cell">
                        <!-- Sort by Type -->
                        <a href="?sort_by=type&order={{ toggle_order }}" class="text-dark text-decoration-none">
                            Type
                            <i
                                class="fa {% if sort_by == 'type' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                        </a>
                    </th>
                    <th scope="col" class="d-none d-md-table-cell">
                        <!-- Sort by Status -->
                        <a href="?sort_by=status&order={{ toggle_order }}" class="text-dark text-decoration-none">
                            Status
                            <i
                                class="fa {% if sort_by == 'status' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through each issue in the paginated object -->
                {% for issue in page_obj %}
                <tr class="table-light" onclick="window.location.href='{% url 'issue_detail' issue.id %}'"
                    style="cursor: pointer;">
                    <td class="col-2">#{{ issue.id }}</td>
                    <td class="col-4">{{ issue.title|truncatechars:50 }}</td>
                    <td class="col-2">{{ issue.get_severity_display }}</td>
                    <td class="col-2 d-none d-md-table-cell">{{ issue.get_type_display }}</td>
                    <td class="col-2 d-none d-md-table-cell">{{ issue.get_status_display }}</td>
                </tr>
                {% empty %}
                <tr>
                    <!-- Message displayed if there are no issues -->
                    <td colspan="5">No issues found for this project.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'pagination.html' %}

{% include 'new_item_modal.html' %}
{% include 'logout_modal.html' %}

{% endblock %}

{% block extra_js %}
{% include 'base_extra_js.html' %}
<script src="{% static 'js/confirm_delete_modal.js' %}"></script>
{% endblock %}