{% extends 'base.html' %}
{% load static %}

{% block nav-icons %}
<li class="nav-item">
    <button class="btn btn-primary nav-icons" id="openModalBtn"><i class="fa-solid fa-plus"></i></button>
</li>
<li class="nav-item">
    <button class="btn btn-primary nav-icons" href="{% url 'notifications' %}"><i
            class="fa-regular fa-bell"></i></button>
</li>
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'issues' %}">Issues</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'projects' %}">Projects<span
        class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'reports' %}">Reports</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logoutconfirm' %}">Logout</a>
</li>
{% endblock %}

{% block content %}
<h1>Edit Project</h1>
<p>This is the edit project page.</p>
<!-- Modal -->
<div class="modal-custom" id="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h5 class="modal-title mb-4">Would you like to create a new issue or new project?</h5>
        <div class="modal-buttons">
            <button id="createIssueBtn" class="btn btn-outline-primary">New Issue</button>
            <button id="createProjectBtn" class="btn btn-outline-success">New Project</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const createIssueUrl = "{% url 'create_issue' %}"
    const createProjectUrl = "{% url 'create_project' %}"
</script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}