{% extends 'base.html' %}
{% load static %}

{% block nav_icons %}
    {% include 'nav_icons.html' %}
{% endblock %}

{% block content %}
<h1>Latest Issues by Project</h1>
<!-- Alert Placeholder -->
<div id="liveAlertPlaceholder"></div>

{% for project in projects %}
<h2 class="project-title">{{ project.title }}</h2>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-secondary">
                <th scope="col" class="col-2">Issue ID</th>
                <th scope="col" class="col-4">Title</th>
                <th scope="col" class="col-2">Severity</th>
                <th scope="col" class="col-2 d-none d-md-table-cell">Type</th>
                <th scope="col" class="col-2 d-none d-md-table-cell">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in project.latest_issues %}
            <tr class="table-light" onclick="window.location.href='{% url 'issue_detail' issue.id %}'"
                style="cursor: pointer;">
                <td class="col-2">#{{ issue.id }}</td>
                <td class="col-4">{{ issue.title|truncatechars:50 }}</td>
                <td class="col-2">{{ issue.severity }}</td>
                <td class="col-2 d-none d-md-table-cell">{{ issue.type }}</td>
                <td class="col-2 d-none d-md-table-cell">{{ issue.status }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No issues found for this project.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row mb-4">
    <div class="col-12 col-md-4 mb-2 mb-md-0">
        <a href="{% url 'view_all_issues' project.id %}" class="btn btn-primary w-100">View All Issues</a>
    </div>
    <div class="col-12 col-md-4 mb-2 mb-md-0">
        <a href="{% url 'edit_project' project.id %}" class="btn btn-secondary w-100">Edit Project</a>
    </div>
    <div class="col-12 col-md-4">
        <button type="button" class="btn btn-danger w-100 delete-project-button" data-id="{{ project.id }}">Delete Project</button>
        <form id="deleteProjectForm_{{ project.id }}" action="{% url 'delete_project' project.id %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
    </div>
</div>
{% endfor %}

{% include 'new_item_modal.html' %}
{% include 'delete_project_modal.html' %}
{% include 'logout_modal.html' %}

{% endblock %}

{% block extra_js %}
<script>
    const createIssueUrl = "{% url 'create_issue' %}"
    const createProjectUrl = "{% url 'create_project' %}"
</script>
<script src="{% static 'js/new_item_modal.js' %}"></script>
<script src="{% static 'js/confirm_delete_modal.js' %}"></script>
<script src="{% static 'js/confirm_logout_modal.js' %}"></script>
<script src="{% static 'js/alert.js' %}"></script>
{% endblock %}