{% extends 'base.html' %}
{% load static %}

{% block nav-icons %}
<li class="nav-item">
    <button class="btn btn-primary nav-icons" id="openModalBtn"><i class="fa-solid fa-plus"></i></button>
</li>
<li class="nav-item">
    <button class="btn btn-primary nav-icons" href="{% url 'notifications' %}"><i
            class="fa-regular fa-bell"></i></button>
</li>
{% endblock %}

{% block nav %}
<li class="nav-item {% if active_page == 'issues' %}active{% endif %}">
    <a class="nav-link" href="{% url 'issues' %}">Issues{% if active_page == 'issues' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'projects' %}active{% endif %}">
    <a class="nav-link" href="{% url 'projects' %}">Projects{% if active_page == 'projects' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'reports' %}active{% endif %}">
    <a class="nav-link" href="{% url 'reports' %}">Reports{% if active_page == 'reports' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'profile' %}active{% endif %}">
    <a class="nav-link" href="{% url 'profile' %}">Profile{% if active_page == 'profile' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'logout' %}active{% endif %}">
    <a class="nav-link" href="{% url 'logoutconfirm' %}">Logout{% if active_page == 'logout' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
{% endblock %}

{% block content %}
<h1>All Projects</h1>
<p>This is the projects page where all projects will be shown.</p>
<!-- Modal -->
<div class="modal-custom" id="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h5 class="modal-title mb-4">Would you like to create a new issue or new project?</h5>
        <div class="modal-buttons">
            <button id="createIssueBtn" class="btn btn-outline-primary">New Issue</button>
            <button id="createProjectBtn" class="btn btn-outline-success">New Project</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const createIssueUrl = "{% url 'create_issue' %}"
    const createProjectUrl = "{% url 'create_project' %}"
</script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}