{% extends 'base.html' %}
{% load static %}

{% block nav_icons %}
{% include 'nav_icons.html' %}
{% endblock %}

{% block content %}
<h2>Change History</h2>

<!-- Table for displaying change history on larger screens -->
<div class="d-none d-md-block table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-secondary">
                <th scope="col" class="text-nowrap">Issue ID</th>
                <th scope="col" class="text-nowrap">Field Changed</th>
                <th scope="col" class="text-nowrap">Old Value</th>
                <th scope="col" class="text-nowrap">New Value</th>
                <th scope="col" class="text-nowrap">Changed By</th>
                <th scope="col" class="text-nowrap">Changed At</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through each change object and display its details -->
            {% for change in changes %}
            <tr class="table-light">
                <td>#{{ change.issue.id }}</td>
                <td>{{ change.get_field_changed_display }}</td>
                <td>{{ change.get_old_value_display }}</td>
                <td class="text-wrap text-break">{{ change.get_new_value_display }}</td>
                <td>{{ change.user.username }}</td>
                <td>{{ change.changed_at }}</td>
            </tr>
            <!-- Message displayed if no changes are found -->
            {% empty %}
            <tr>
                <td colspan="6">No changes found for this issue.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Card layout for displaying change history on smaller screens -->
<div class="d-block d-md-none">
    {% for change in changes %}
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <span>{{ change.user.username }}</span>
            <span class="text-muted">{{ change.changed_at }}</span>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Field Changed:</strong> {{ change.get_field_changed_display }}</p>
            <p class="card-text"><strong>Old Value:</strong> {{ change.get_old_value_display }}</p>
            <p class="card-text"><strong>New Value:</strong> {{ change.get_new_value_display }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'pagination.html' %}

{% include 'new_item_modal.html' %}
{% include 'logout_modal.html' %}

{% endblock %}

{% block extra_js %}
{% include 'base_extra_js.html' %}
{% endblock %}