<!-- Modal for confirming or cancelling logging out -->
<div class="modal-custom" id="logoutConfirmModal">
    <div class="modal-content">
        <span class="close" id="closeLogoutModal">&times;</span>
        <h5 class="modal-title mb-4">Are you sure you want to log out?</h5>
        <div class="modal-buttons">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Yes, Log Out</button>
                <button type="button" class="btn btn-outline-secondary" id="cancelLogoutBtn">No, Cancel</button>
            </form>
        </div>
    </div>
</div>