<!-- Modal for creating a new issue or project -->
<div class="modal-custom" id="my-modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h5 class="modal-title mb-4">Would you like to create a new issue or new project?</h5>
        <div class="modal-buttons">
            <button id="create-issue-btn" class="btn btn-outline-primary">New Issue</button>
            <button id="create-project-btn" class="btn btn-outline-success">New Project</button>
        </div>
    </div>
</div>