<!-- Navbar for registering new users -->
<nav class="navbar navbar-expand-lg" id="second-nav">
    <div class="container-fluid">
        <!-- Toggler button for collapsing navbar on smaller screens -->
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Not registered? <span id="signup">Register</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>