<!-- Navbar for registering new users -->
<!-- Toggler button for collapsing navbar on smaller screens -->
<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-nav"
    aria-controls="collapse-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapse-nav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Not registered? <span id="signup">Register</span></a>
        </li>
    </ul>
</div>