{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nav-icons %}
<li class="nav-item">
    <a class="nav-link" href="#"><i class="fa-solid fa-plus"></i></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'notifications' %}"><i class="fa-regular fa-bell"></i></a>
</li>
{% endblock %}

{% block nav %}
<li class="nav-item {% if active_page == 'issues' %}active{% endif %}">
    <a class="nav-link" href="{% url 'issues' %}">Issues{% if active_page == 'issues' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'projects' %}active{% endif %}">
    <a class="nav-link" href="{% url 'projects' %}">Projects{% if active_page == 'projects' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'reports' %}active{% endif %}">
    <a class="nav-link" href="{% url 'reports' %}">Reports{% if active_page == 'reports' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'profile' %}active{% endif %}">
    <a class="nav-link" href="{% url 'profile' %}">Profile{% if active_page == 'profile' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'logout' %}active{% endif %}">
    <a class="nav-link" href="{% url 'logoutconfirm' %}">Logout{% if active_page == 'logout' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
{% endblock %}

{% block content %}
<div class="container form-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Edit Issue</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
