{% extends 'base.html' %}
{% load static %}

{% block nav_icons %}
    {% include 'nav_icons.html' %}
{% endblock %}

{% block content %}
<h1>All Issues</h1>

<!-- Alert Placeholder -->
<div id="liveAlertPlaceholder"></div>

<!-- Toast -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="registrationToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Registration Successful</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            You have successfully registered and are now logged in.
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-secondary">
                <th scope="col">
                    <a href="?sort_by=id&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Issue ID
                        <i class="fa {% if sort_by == 'id' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
                <th scope="col">
                    <a href="?sort_by=title&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Title
                        <i class="fa {% if sort_by == 'title' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
                <th scope="col">
                    <a href="?sort_by=severity&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Severity
                        <i class="fa {% if sort_by == 'severity' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
                <th scope="col" class="d-none d-md-table-cell">
                    <a href="?sort_by=type&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Type
                        <i class="fa {% if sort_by == 'type' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
                <th scope="col" class="d-none d-md-table-cell">
                    <a href="?sort_by=project.title&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Project
                        <i class="fa {% if sort_by == 'project.title' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
                <th scope="col" class="d-none d-md-table-cell">
                    <a href="?sort_by=status&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Status
                        <i class="fa {% if sort_by == 'status' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
                <th scope="col" class="d-none d-md-table-cell">
                    <a href="?sort_by=reporter.username&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Reporter
                        <i class="fa {% if sort_by == 'reporter.username' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for issue in page_obj %}
            <tr class="table-light" onclick="window.location.href='{% url 'issue_detail' issue.id %}'"
                style="cursor: pointer;">
                <td>#{{ issue.id }}</td>
                <td>{{ issue.title|truncatechars:50 }}</td>
                <td>{{ issue.severity }}</td>
                <td class="d-none d-md-table-cell">{{ issue.type }}</td>
                <td class="d-none d-md-table-cell">{{ issue.project.title }}</td>
                <td class="d-none d-md-table-cell">{{ issue.status }}</td>
                <td class="d-none d-md-table-cell">{{ issue.reporter.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'pagination.html' %}

{% include 'new_item_modal.html' %}
{% include 'logout_modal.html' %}

{% endblock %}

{% block extra_js %}
{% if show_toast %}
<script src="{% static 'js/toast.js' %}"></script>
{% endif %}
{% include 'base_extra_js.html' %}
<script src="{% static 'js/alert.js' %}"></script>
{% endblock %}