{% extends 'base.html' %}
{% load static %}

{% block nav_icons %}
{% include 'nav_icons.html' %}
{% endblock %}

{% block content %}
<h2>Issue Detail</h2>
<table class="table table-bordered" id="issue-table">
    <tr>
        <th>ID</th>
        <td>#{{ issue.id }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ issue.title }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td class="text-wrap text-break">{{ issue.description }}</td>
    </tr>
    <tr>
        <th>Severity</th>
        <td>{{ issue.get_severity_display }}</td>
    </tr>
    <!-- Clickable row that redirects to the project that this issue belongs to -->
    <tr class="clickable-row" onclick="window.location.href='{% url 'view_all_issues' issue.project.id %}'">
        <th>Project</th>
        <td id="project-row">{{ issue.project.title }}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ issue.get_type_display }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ issue.get_status_display }}</td>
    </tr>
    <tr>
        <th>Reporter</th>
        <td>{{ issue.reporter.username }}</td>
    </tr>
    <tr>
        <th>Developer</th>
        <td>{{ issue.developer }}</td>
    </tr>
    <tr>
        <th>Quality Assurance</th>
        <td>{{ issue.quality_assurance }}</td>
    </tr>
    <tr>
        <th>Product Manager</th>
        <td>{{ issue.product_manager }}</td>
    </tr>
</table>

<div class="row mb-4">
    <div class="col-12 col-md-4 mb-2 mb-md-0">
        <a href="{% url 'edit_issue' issue.id %}" class="btn btn-primary w-100">Edit Issue</a>
    </div>
    <div class="col-12 col-md-4 mb-2 mb-md-0">
        <button type="button" class="btn btn-danger w-100 delete-issue-button" data-id="{{ issue.id }}">Delete Issue</button>
        <form id="delete-issue-form-{{ issue.id }}" action="{% url 'delete_issue' issue.id %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
    </div>
    <div class="col-12 col-md-4">
        <a href="{% url 'issue_change_history' issue.id %}" class="btn btn-secondary w-100">Change History</a>
    </div>
</div>
<!-- Form for adding new comments -->
<h3 class="mt-5">Add a Comment</h3>
<form action="{% url 'add_comment' issue.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea class="form-control" id="comment-text" name="comment_text" rows="3" placeholder="Enter your comment here..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-2 w-100" id="add-comment-btn" disabled>Add Comment</button>
</form>

<!-- Existing comments section -->
<h3 class="mt-5">Comments</h3>
<div id="comments" class="mb-5">
    {% for comment in comments %}
    <div class="card mb-3">
        <div class="card-body">
            <p><strong>{{ comment.user.username }}</strong> <em>{{ comment.commented_at }}</em></p>
            <p>{{ comment.comment_text }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'new_item_modal.html' %}
{% include 'delete_issue_modal.html' %}
{% include 'logout_modal.html' %}

{% endblock %}

{% block extra_js %}
{% include 'base_extra_js.html' %}
<script src="{% static 'js/confirm_delete_modal.js' %}"></script>
<script src="{% static 'js/comment.js' %}"></script>
{% endblock %}
