{% extends 'base.html' %}
{% load static %}

{% block nav-icons %}
<li class="nav-item">
    <button class="btn btn-primary nav-icons" id="openModalBtn"><i class="fa-solid fa-plus"></i></button>
</li>
<li class="nav-item">
    <button class="btn btn-primary nav-icons" href="{% url 'notifications' %}"><i
            class="fa-regular fa-bell"></i></button>
</li>
{% endblock %}

{% block nav %}
<li class="nav-item {% if active_page == 'issues' %}active{% endif %}">
    <a class="nav-link" href="{% url 'issues' %}">Issues{% if active_page == 'issues' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'projects' %}active{% endif %}">
    <a class="nav-link" href="{% url 'projects' %}">Projects{% if active_page == 'projects' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'reports' %}active{% endif %}">
    <a class="nav-link" href="{% url 'reports' %}">Reports{% if active_page == 'reports' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'profile' %}active{% endif %}">
    <a class="nav-link" href="{% url 'profile' %}">Profile{% if active_page == 'profile' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item {% if active_page == 'logout' %}active{% endif %}">
    <a class="nav-link" href="{% url 'logoutconfirm' %}">Logout{% if active_page == 'logout' %}<span
            class="sr-only">(current)</span>{% endif %}</a>
</li>
{% endblock %}

{% block content %}
<h1>{% if project %}Issues for Project: {{ project.title }}{% else %}All Issues{% endif %}</h1>

<!-- Toast -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="registrationToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Registration Successful</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            You have successfully registered and are now logged in.
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-secondary">
                <th scope="col">
                    <a href="?sort_by=issue_id&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Issue ID
                        <i
                            class="fa {% if sort_by == 'issue_id' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
                <th scope="col">
                    <a href="?sort_by=title&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Title
                        <i
                            class="fa {% if sort_by == 'title' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
                <th scope="col">
                    <a href="?sort_by=severity&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Severity
                        <i
                            class="fa {% if sort_by == 'severity' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
                <th scope="col" class="d-none d-md-table-cell">
                    <a href="?sort_by=type&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Type
                        <i
                            class="fa {% if sort_by == 'type' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
                <th scope="col" class="d-none d-md-table-cell">
                    <a href="?sort_by=project_title&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Project
                        <i
                            class="fa {% if sort_by == 'project_title' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
                <th scope="col" class="d-none d-md-table-cell">
                    <a href="?sort_by=status&order={{ toggle_order }}" class="text-dark text-decoration-none">
                        Status
                        <i
                            class="fa {% if sort_by == 'status' %}{% if order == 'asc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %} text-dark{% else %}fa-arrow-up text-muted{% endif %}"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
            <tr class="table-light" onclick="window.location.href='{% url 'issue_detail' issue.issue_id %}'"
                style="cursor: pointer;">
                <td>#{{ issue.issue_id }}</td>
                <td>{{ issue.title|truncatechars:50 }}</td>
                <td>{{ issue.severity }}</td>
                <td class="d-none d-md-table-cell">{{ issue.type }}</td>
                <td class="d-none d-md-table-cell">{{ issue.project_title }}</td>
                <td class="d-none d-md-table-cell">{{ issue.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal-custom" id="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h5 class="modal-title mb-4">Would you like to create a new issue or new project?</h5>
        <div class="modal-buttons">
            <button id="createIssueBtn" class="btn btn-outline-primary">New Issue</button>
            <button id="createProjectBtn" class="btn btn-outline-success">New Project</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% if show_toast %}
<script src="{% static 'js/toast.js' %}"></script>
{% endif %}
<script>
    const createIssueUrl = "{% url 'create_issue' %}"
    const createProjectUrl = "{% url 'create_project' %}"
</script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}